*{
  padding:20;
  margin:20;
  box-sizing: border-box;
}
body{
  color:#414141;
  background-color: #eeeeee;
  font-size: 18px;
}
h1{
  font-size:36px;
}
h2{
  font-size: 28px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'helvetica', 'arial', sans-serif;
  font-weight: normal;
  text-align: left;
}
ul,ol,li{
  list-style-type: circle;
  text-align: left;
}
p{
  text-align: left;
}
